@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>About</h1>

<h3>Web Application and Development Project 2020</h3>
<h5 class="text-success">Roles of our development team</h5>
<p>Team Manager: code validation, documentation, github utilisation, database design</p>
<p>Frontend Developer: CSS, Bootstrap, page layout</p>
<p>Backend Developer: Asp.net implementation, Identity user customerisation, Razor page, Server-side validation</p>
<p>IDE: Visual Studio</p>
<p>Language: C#, CSS and HTML, Bootstrap, jQuery</p>
<br />
<br />

<h5 class="text-success">Development Process</h5>
<p>Database design - drafting a ER diagram</p>
<p>Construct Model classes in Asp.net</p>
<p>Create database using data migration and scaffolding controllers and views</p>
<p>Customise Identity User</p>
<p>Modify view design</p>
<p>Testing</p>


